$containerWidth: max(55%, 350px);

// ThemeIcon icons respect this
svg * {
  stroke-width: 1.6px;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  overflow-y: auto;
}

.staff {
  width: min(90vw, 700px);
  margin: auto;
}
